<!-- <nav data-scroll data-scroll-sticky data-scroll-target=".main" class="sticky-top">
    <div class="logo">
        <img src="https://res.cloudinary.com/dsozpzlc3/image/upload/v1725253031/wager%20footer/final_logo_nug543.png" alt="logo" onclick="window.location.href='http://localhost:8080/'">
    </div>
        <div class="menu" id="menu">
            <button class="button" onclick="window.location.href='/listings'">
                <span class="button_lg">
                    <span class="button_sl"></span>
                    <span class="button_text">All Listings <i class="ri-arrow-right-line"></i></span>
                </span>
            </button>
            <button class="button" onclick="window.location.href='/listings/new'">
                <span class="button_lg">
                    <span class="button_sl"></span>
                    <span class="button_text">Advertise yourself <i class="ri-arrow-right-line"></i></span>
                </span>
            </button>
            <% if(!currentUser){ %>
            <button class="button" onclick="window.location.href='/login'">
                <span class="button_lg">
                    <span class="button_sl"></span>
                    <span class="button_text">Login <i class="ri-arrow-right-line"></i></span>
                </span>
            </button>
            <button class="button" onclick="window.location.href='/signup'">
                <span class="button_lg">
                    <span class="button_sl"></span>
                    <span class="button_text">Signup <i class="ri-arrow-right-line"></i></span>
                </span>
            </button>
            <% }else{ %>
            <button class="button" onclick="window.location.href='/logout'">
                <span class="button_lg">
                    <span class="button_sl"></span>
                    <span class="button_text">Logout <i class="ri-arrow-right-line"></i></span>
                </span>
            </button>
            <% } %>
        </div>
        
    </div>
</nav> -->




<div class="main">
  <nav  data-scroll-sticky-top="0" data-scroll-target=".main">
    <div class="logo">
      <img src="https://res.cloudinary.com/dsozpzlc3/image/upload/v1725253031/wager%20footer/final_logo_nug543.png" alt="logo" onclick="window.location.href='http://localhost:8080/'" />
    </div>

    <div class="right">
      <label class="hamburger">
        <input type="checkbox" id="checkbox" onClick="menu()" />
        <svg viewBox="0 0 32 32">
          <path
            id="line"
            class="line line-top-bottom"
            d="M27 10 13 10C10.8 10 9 8.2 9 6 9 3.5 10.8 2 13 2 15.2 2 17 3.8 17 6L17 26C17 28.2 18.8 30 21 30 23.2 30 25 28.2 25 26 25 23.8 23.2 22 21 22L7 22"
          ></path>
          <path id="line1" class="line" d="M7 16 27 16"></path>
        </svg>
      </label>

      <div class="menu" id="menu">
        <a href="http://localhost:8080/" >Home</a>
        <a href="/listings" >Registered Employees</a>
        <a href="/listings/new" >Advertise yourself</a>
        <a href="http://localhost:8080/blog"></a>
        <% if(!currentUser){ %>
        <a href="/login" data-scroll-to>Login</a>
        <a href="/signup" data-scroll-to>Signup</a>
        <% }else{ %>
        <a href="/logout" data-scroll-to>Logout</a>
        <% } %>
        <button class="button" onclick="window.location.href='localhost:8080/team'">
          <span class="button_lg">
            <span class="button_sl"></span>
            <span class="button_text"
              >Team <i class="ri-arrow-right-line"></i
            ></span>
          </span>
        </button>
      </div>
    </div>
  </nav>
</div>





