 <% layout("layouts/boilerplate.ejs") %>

<style>
    body{
        background : linear-gradient(to right,   #bdc3c7, #b5c8db);
    }
</style>


    <div class="wrapper" style="max-width: 350px; min-height: 500px; margin: 80px auto; padding: 40px 30px 30px 30px; background-color: #ecf0f3; border-radius: 15px; box-shadow: 13px 13px 20px #cbced1, -13px -13px 20px #fff;">
        <div class="logo" style="width: 80px; margin: auto;">
            <img src="https://res.cloudinary.com/dsozpzlc3/image/upload/w_1000,c_fill,ar_1:1,g_auto,r_max,bo_5px_solid_red,b_rgb:262c35/v1725253031/wager%20footer/final_logo_nug543.png" alt="Logo" style="width: 100%; height: 80px; object-fit: cover; border-radius: 50%; box-shadow: 0px 0px 3px #5f5f5f, 0px 0px 0px 5px #ecf0f3, 8px 8px 15px #a7aaa7, -8px -8px 15px #fff;">
        </div>
        <div class="text-center mt-4 name" style="font-weight: 600; font-size: 1.4rem; letter-spacing: 1.3px; padding-left: 10px; color: #555;">
            Login
        </div>
        <form class="p-3 mt-3" action="/login" method="post">
            <div class="form-field d-flex align-items-center" style="padding-left: 10px; margin-bottom: 20px; border-radius: 20px; box-shadow: inset 8px 8px 8px #cbced1, inset -8px -8px 8px #fff;">
                <span class="far fa-user" style="color: #555;"></span>
                <input type="text" name="username" id="userName" placeholder="Username" style="width: 100%; display: block; border: none; outline: none; background: none; font-size: 1.2rem; color: #666; padding: 10px 15px 10px 10px;">
            </div>
            <div class="form-field d-flex align-items-center" style="padding-left: 10px; margin-bottom: 20px; border-radius: 20px; box-shadow: inset 8px 8px 8px #cbced1, inset -8px -8px 8px #fff;">
                <span class="fas fa-key" style="color: #555;"></span>
                <input type="password" name="password" id="pwd" placeholder="Password" style="width: 100%; display: block; border: none; outline: none; background: none; font-size: 1.2rem; color: #666; padding: 10px 15px 10px 10px;">
            </div>
            <button class="btn mt-3" style="box-shadow: none; width: 100%; height: 40px; background-color: #03A9F4; color: #fff; border-radius: 25px; box-shadow: 3px 3px 3px #b1b1b1, -3px -3px 3px #fff; letter-spacing: 1.3px;">Login</button>
        </form>
        <div class="text-center fs-6">
            <a href="#" style="text-decoration: none; font-size: 0.8rem; color: #03A9F4;">Forget password?</a> or <a href="/signup" style="text-decoration: none; font-size: 0.8rem; color: #03A9F4;">Sign up</a>
        </div>
    </div>
    